<div class="">

    <div class="card list-card">
        <h5 class="card-header">Lista de clientes teste</h5>
        <div class="card-body">

        </div>

    </div>
    <!-------------------------------------------------------------->
    <div class="card list-car">
        <h5 class="card-header">Lista de clientes</h5>
        <div class="card-body">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Logradouro</th>
                        <th scope="col">Municipio</th>
                        <!--th scope="col">Cor</th>
                        <th scope="col">Preço</th-->
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>{{cliente.clienteid}}</td>
                        <td>{{cliente.clientefantasia}}</td>
                        <td>{{cliente.clientecoblogradouro}}</td>
                        <td>{{cliente.municipionome}}</td>
                        <!--td>{{cliente.color}}</td>
                        <td>{{cliente.price | currency}}</td-->
                        <td>
                            <button type="button" class="btn btn-warning btn-sm"
                                (click)="editCar(cliente)">Editar</button>
                            <button type="button" class="btn btn-danger btn-sm ml-1"
                                (click)="deleteCar(cliente)">Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>