<article class="borda">
    <app-exemlo-ng-content>
        Passando Conteudo do exemplo-ng-content para data-binding
    </app-exemlo-ng-content>
</article>
<br>

<article class="borda">
    <h3>Diretiva *ngStyle</h3>
    <!--Aula 30-->
    <button [ngStyle]="{
        'backgroundColor': ativo ? 'blue' : 'gray',
        'color': ativo ? 'white' : 'black',
        'fontWeight': ativo ? 'bold' : 'normal',
        'fontSize': tamanhoFonte + 'px'
        }" (click)="mudarAtivo()">Botão ngStyle</button>
    <p>Digite o tamanho da fonte:</p>
    <input type="text" name="tamanhoFonte" id="tamanhoFonte" [(ngModel)]="tamanhoFonte">

</article>
<br>

<article class="borda">
    <h3>Diretiva *ngClass</h3>
    <!--icones? Aula 29-->
    <span class="bi" [ngClass]="{  
        'bi-person-plus': !meuFavorito,
        'bi-person-check': !meuFavorito    
    }" (click)="onClick()"></span>

    <span class="bi bi-person-check"></span>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-check" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM6 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm6.854.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
    </svg>
</article>
<br>

<article class="borda">
    <h3>Diretiva *ngFor</h3>
    <ul>
        <li *ngFor="let curso of cursosCadastrados"> {{curso}}</li>
    </ul>

</article>
<br>

<article class="borda">
    <!--Aula 25 ngif-->
    <h3>Diretiva *ngIf</h3>
    <div *ngIf="testeIf;else testeVariavel">
        <!--teste de testeIf esta positivo ou nao-->
        <p>A variavel testeIf está true</p>
    </div>
    <div *ngIf=" !testeIf">
        <p>A variavel testeIf está false</p>
    </div>
    <button class="btn btn-primary" (click)="onTesteIf()">Alterar</button>
    <!--Chama a funcao que troca o valor de testeIf-->
    <ng-template #testeVariavel>
        <!--else da função if-->
        testeIf está false.
    </ng-template>
</article>
<br>

<article class="borda">
    <!--estrutura da tela, todos os exercicios passados em aula-->
    <h3>Ciclo de vida do componente</h3>
    <app-ciclo [valorInicial]='valor' *ngIf="!deletarCiclo"></app-ciclo>
    <button class="btn btn-primary" (click)="mudarValor()">Mudar Valor</button>
    <button class="btn btn-danger" (click)="destruirCiclo()">Deletar Valor</button>

</article>
<br>

<article class="borda">
    <!--aula 13 a 16-->
    <h3>Input/Output Properties</h3>
    <app-curso [nome]="nomeDoCurso"></app-curso>
    <contador></contador>
</article>
<br>


<article class="borda">
    <!--aula 9-->
    <h3>Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1+1}}</p>
    <p>Resultado de 1 + 1 não é: {{ 1+1 + getValor()}}</p>
    <p>Curso angular : {{cursoAngular && getCurtirCurso()}}</p>
</article>
<br>

<article class="borda">
    <h3>Data Binding com URL</h3>
    <p>Imagem Interpolação:</p>:
    <img src="{{urlImagem}}" alt="texto"><br><br>
    <p>Imagem Data Binding:</p>
    <img [src]="urlImagem" alt="texto">
</article>
<br>

<article class="borda">
    <!--aula 10-->
    <h3>Class e Style Binding</h3>
    <div>
        Selecione uma classe:
        <select class="form-control form-control-sm" #classe (change)="0">
            <option value="alert-success">Sucesso</option>
            <option value="alert-danger">Erro</option>
        </select>

        <div class="alert alert-danger" role="danger"
            [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
            Erro apareceu
            <!--só aparece se for do tipo danger-->
        </div>

        <div class="alert {{classe.value}}" role="alert">
            Texto colorido
            <!-- muda de acordo com o select -->
        </div>

        <div class="alert" role="alert" [class.alert-success]="classe.value ==   'alert-success'">
            <!--seleciona somente a div do select-->
            A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
        </div>
        <div class="alert" role="alert" [class.alert-danger]="classe.value ==   'alert-danger'">
            A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
        </div>
    </div>
</article>
<br>

<article class="borda">
    <!--aula 11-->
    <h3>Event Binding</h3>
    <div>
        <button (click)="botaoClicado()" class="btn btn-primary">Me clique!</button>
        <br><br>
        <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor($event.target.value)"
            (blur)="salvarValor($event.target.value)" />
        <p>Valor Atual: {{valorAtual}}</p>
        <!--Imprime o valor atual do input trazendo o dado por interpolação-->
        <p>Valor salvo: {{valorSalvo}}</p>
        <!--Imprime o valor atual do input trazendo o dado por interpolação-->
        <br>
        <!--le o evento do mouse passando por cima-->
        <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highlight]="isMouseOver">
            Passe o mouse sobre mim
        </span>
    </div>
</article>
<br>

<article class="borda">
    <!--aula 12-->
    <h3>Two-way data binding</h3>
    Nome:
    <input class="form-control" type="text" [(ngModel)]="pessoa.nome">
    Idade:
    <input class="form-control" type="text" [(ngModel)]="pessoa.idade">
    DDD:
    <input class="form-control" type="text" [(ngModel)]="pessoa.telefone.DDD">
    Telefone:
    <input class="form-control" type="text" [(ngModel)]="pessoa.telefone.numero">
    Resultado:
    <label class="form-group">Meu nome é {{pessoa.nome}} e tenho {{pessoa.idade}} anos de vida</label>
    <p>Meu telefone é DDD: {{pessoa.telefone.DDD}} numero: {{pessoa.telefone.numero}}</p>
    <p>Exemplo ngModel:</p>
    Digite:
    <input type="text" [value]="nome" (input)="nome = $event.target.value" />
    Data Binding:
    <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event" />
    <p>Data Binding: {{nome}}</p>
</article>
<br>

<article class="borda">
    <h3>Soma com Event Binding</h3>
    <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor($event.target.value)"
        (blur)="salvarValor($event.target.value)" />+
    <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor2($event.target.value)"
        (blur)="salvarValor2($event.target.value)" />=
    {{soma()}}
</article>
<br>

<article class="borda">
    <h3>Soma com binding</h3>
    <input type="text" [(ngModel)]="num1">+
    <input type="text" [(ngModel)]="num2">=
    <input type="text" [value]="resultadoFinal" readonly>
    <button class="btn btn-primary" (click)="somaFinal()">Soma</button>
</article>
<br>