<h3>Controle de atividades</h3>
<div class="card list-car">
    <h5 class="card-header">Nova atividade</h5>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="idconsulto">Consultor:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Gustavo Pals</option>
                    <option>Fulano A</option>
                    <option>Ciclano B</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="data">Data:</label>
                <input type="date" name="data" id="data" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label for="htIni">Hora Inicio:</label>
                <input type="time" name="hrIni" id="hrIni" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label for="htIni">Hora Fim:</label>
                <input type="time" name="hrIni" id="hrIni" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="tipoAtividade">Cliente:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Cliente A</option>
                    <option>Cliente B</option>
                    <option>Cliente C</option>
                    <option>Cliente D</option>
                    <option>Cliente E</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="tipoAtividade">Projeto:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Projeto 1</option>
                    <option>Projeto 2</option>
                    <option>Projeto 3</option>
                    <option>Projeto 4</option>
                    <option>Projeto 5</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="tipoAtividade">Tipo Atividade</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Suporte</option>
                    <option>Desenvolvimento</option>
                    <option>Analise</option>
                    <option>Treinamento</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="status">Status:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Concluido</option>
                    <option>Aguardando</option>
                    <option>Cancelado</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="modulo">Departamento:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>TI</option>
                    <option>Vendas</option>

                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="modulo">Modulo:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Financeiro</option>
                    <option>Faturamento</option>
                </select>
            </div>
            <div class="form-group col-md-3"></div>
            <div class="form-group col-md-6">
                <label for="problema">Problema:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label for="problema">Solução:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary col-auto">Cadastrar</button>
    <br>
</div>
<br>
<div class="card list-car">
    <h5 class="card-header">Atividades realizadas</h5>
    <div class="card-body">
        <div class="container">
            <table class="table col-md-12">
                <thead class="thead-inverse">
                    <tr>
                        <th>ID</th>
                        <th>Consultor</th>
                        <th>Cliente</th>
                        <th>Projeto</th>
                        <th>Tipo Atividade</th>
                        <th>Tempo Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>Gustavo</td>
                        <td>Cliente A</td>
                        <td>Cliente A</td>
                        <td>Cliente A</td>
                        <td>Cliente A</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>