<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/cursos']" routerLinkActive="router-link-active">Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/data-binding']" routerLinkActive="router-link-active">Data
                    Binding</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="ex1">
    <h1 class="centro">Curso Angular - Loiane Groner</h1>
    <h5 class="centro">Gustavo Pals - 21/08/2020</h5>
    <router-outlet></router-outlet>
    <!--sistema de rotas-->
    <!--app-data-binding></app-data-binding-->
    <!--Chama o componente data-binding-->


</div>