<div class="container">
  <h1 class="centro">Curso Angular - Loiane Groner</h1>
  <h4 class="centro">Gustavo Pals - 21/08/2020</h4>
</div>
<div class="container">
  <p>Contador: {{ cont }}</p>
  <button class="btn btn-danger" (click)="soma()">Soma</button>

  <button class="btn btn-primary">Botão Novo</button>

  <label for="nome">Nome:</label>
  <input type="text" name="nome" id="nome" class="form-control" />
  <input type="password" name="nome" id="nome" class="form-control" />
  <textarea name="texto" id="texto" cols="30" rows="10"></textarea>
</div>
